@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body{
    margin: 0px;
    font-family: Montserrat;
    background-color: white;
    display: block;
}

h1,h3 {
    text-align: center;
    margin-left: 5px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 5px;
    padding: 5px;
    
}
 
section {
    background-color:lavenderblush;
    text-align: left;
    box-sizing: 200px;
    float: left;
    padding-left: 10px;
    
}

ul {
    align-self: left;
}


a{  text-decoration: none;}


img{
    width: 250px;
    height: 250px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}


/* body, html {

    
    padding-top: 40px;
    background-color: lavenderblush;
  } */
  
  .container {
    width: 100%;
    height: 100%;
  }
  
  .painelLateralEsquerdo {
      width: 20%;
      height: 100%;
      float: left;
      border-collapse: collapse;
      border-radius: 10pt;      
      box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
      background-color: white;
      border-radius: 10pt;
      margin-top: 20px;

  }


  
  .painelFeedCentral {
      width: 80%;
      height: 100%;
      float: left;
      border-collapse: collapse;
      text-align: center;
      position: relative;
   
  }
  

  
 

  .posts{
        width: 70%;
    background-color: white;
    border-radius: 10pt;
    padding: 34px 24px 10px 24px;
    transform: translatex(-50%);
    margin-left: 50%;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    
   
    
  }